.body{
    background-color: cyan;
}
.navBar{
    background-color: azure;
    border-radius: 0.5rem;
}
.navList{
    list-style-type: none;
    border-radius: 0.5rem;
    padding: 0;
}
.navList a{
    display: block;
    text-decoration: none;
    padding: 0.25rem 1rem;
}
.navList a:hover{
    background-color: #555;
    color: wheat;
    border-radius: 0.2rem;
    /* padding: 1rem; */
    margin: 0 0.3rem;
    /* font-size: large; */

}
.navBar a:active{
    background-color: lightgrey;
    color: white;
}
