body{
    text-align: center;
}
.selection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contentList{
 list-style: none; 
}
.contentList>li{
    padding: 0.5em;
}
a {
    font-style: italic;
    text-decoration: none;
    font-size: 1.3em;
 }
